BASC-py4chan==0.6.6
certifi==2021.10.8
charset-normalizer==2.0.12
ChatterBot==1.0.4
chatterbot-corpus==1.2.0
click==8.1.2
idna==3.3
joblib==1.1.0
mathparse==0.1.2
nltk==3.7
Pint==0.19.1
pymongo==3.12.3
python-dateutil==2.7.5
pytz==2022.1
PyYAML==3.13
regex==2022.3.15
requests==2.27.1
six==1.16.0
SQLAlchemy==1.2.19
tqdm==4.64.0
urllib3==1.26.9
